.navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  position: fixed;
  background: rgb(119, 189, 236);
  width: 100%;
}

.headerdiv {
  text-decoration: none;
  display: flex;
 
 
  /* margin-right: 60px; */
}
.buttonn {
  background-color: #ff6347; /* Eye-catching color */
  color: white;
  border: none;
}

.buttonn:hover {
  background-color: #5de2af; /* Different color on hover */
}
